*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("/landingpage/css/imageset/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
}

.container{
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px auto;
}

h1{
    font-size: 2.8rem;
    color: white;
    line-height: 1.5;
}

p{
    font-size: 1rem;
    color: white;
    line-height: 1.8;
    letter-spacing: normal;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50%;
}

a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}


.main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.main-content{
    width: 48%;
    margin-top: 10px;
}

.main-img{
    width: 48%;
}

.registerlink{
    font-size: 1.25rem;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
    padding: 16px 48px;
    margin-top: 30px;
}

.registerlink:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.footer{
    position: relative;
    text-align: right;
}

.facebookicon{
    display: inline-block;
    position: relative;
    right: 0px;
    top: 0px;
}

.instaicon{
    display: inline-block;
   position: relative;
   right: 0px;
    top: 0px;
}
.twittericon{
    display: inline-block;
    position: relative;
    
}